.card__img {
    height: 238px;
    border-top-left-radius: $border-radius-xs;
    border-top-right-radius: $border-radius-xs;

    @include pad {
        width: 355px;
        border-bottom-left-radius: $border-radius-xs;
        border-top-left-radius: $border-radius-xs;

        border-top-right-radius: 0;
    }

    @include pc {
        border-top-left-radius: $border-radius-xs;
        border-top-right-radius: $border-radius-xs;

        border-bottom-left-radius: 0;
    }
}

.card {

    &--hover {
        transition: transform ease .5s;
        cursor: pointer;

        &:hover {
            transform: scale(1.1);
        }
    }


    &--checked::after {
        font-family: 'Material Icons';
        content: "arrow_drop_down";
        display: flex;
        align-items: center;
        font-size: 40px;
        width: 40px;
        height: 40px;
        margin: 1rem 0;
        position:absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);
        color: $primary;
    }
}