.modal {

    & &-dialog-lg {
        max-width: 950px;

        margin: 1.75rem auto;
        padding: 0 15px;
        &>.modal-content {

            min-height: 582px;
            @include pad{
                min-height: 546px;
            }
        }
    }

   
}