.navbar__list {
  width: 100%;
  transition: height ease-in .5s;
  color: color-contrast($primary);

  @include pad {

    width: auto;
  }
}

.ham:active~.navbar__list {
  transition: all .15s ease-in-out;
}

.logo {
  background-image: url("../images/DOYOGA-logo.png");
  display: block;
  width: 116px;
  text-indent: 101%;
  background-size: contain;
  overflow: hidden;
  white-space: nowrap;
  background-repeat: no-repeat;

}