


@mixin pad() {
    @media screen and (min-width:768px) {
        @content;
    }
}

@mixin pc() {
    @media screen and (min-width:992px) {
        @content;
    }
}


@mixin text-eclipse($line) {
    
        overflow: hidden;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-line-clamp: $line; /*行數*/
        -webkit-box-orient: vertical;
        white-space: normal;
      
}